
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env310/
ennv310/

# Archivos test/análisis
EDA.ipynb

# Data
data/*
results/*


# Resultados
*.csv
*.pkl
*.txt
*.pth
*.npy
*.json
*.txt
*.png
*.md
!README.md
!DOCUMENTATION.md
